body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-name {
    height: 45px;
    font-family:'Franklin Gothic Medium';
    margin: auto;
    font-size: 36px;
}

.game-console {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 603px;
    background-color: slategray;
    border: 3px solid black;
    border-radius: 10px;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
}

.controls {
    display: flex;
    height: 73px;
    width: 500px;
    background-color: lightgrey;
    border: 2px solid black;
    border-top: none;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.reset-btn, .rainbow-btn, .pencil-btn {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}


.tile {
    background-color: hsl(0,0%,100%);
}

.tile-colored {
    background-color: black;
}

/* Did this since getting color through javascript returns rgb value and I didnt feel like
converting to HSL or whatever*/

.tile0 {
    background-color: hsl(0,0%,90%);
}

.tile1 {
    background-color: hsl(0,0%,80%);
}

.tile2 {
    background-color: hsl(0,0%,70%);
}

.tile3 {
    background-color: hsl(0,0%,60%);
}

.tile4 {
    background-color: hsl(0,0%,50%);
}

.tile5 {
    background-color: hsl(0,0%,40%);
}

.tile6 {
    background-color: hsl(0,0%,30%);
}

.tile7 {
    background-color: hsl(0,0%,20%);
}

.tile8 {
    background-color: hsl(0,0%,10%);
}

.tile9 {
    background-color: hsl(0,0%,0%);
}